@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body {
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  #app {
    font-family: 'Noto Sans KR', sans-serif;
  }

/* .test {
    color: blue !important;
    background-color: blue !important;
} */

.v-input {
    font-size: 12px;
}

.sign-up-title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
}

.sign-up-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
}

.sign-up-menu {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

.btn-black {
    background-color: #141414 !important;
    color: #FFFFFF !important;
}

.btn-order {
    background-color: #4052F9 !important;
    color: #FFFFFF !important;
}

.text--order {
    color: #4052F9 !important;
}

.bg-search {
    min-height: 150px;
    background-color: #F9FAFF;
}

/*
* width 클래스
*/
.w-0 {
    max-width: 0px !important;
}

.w-1 {
    max-width: 10px !important;
}

.w-2 {
    max-width: 20px !important;
}

.w-3 {
    max-width: 30px !important;
}

.w-4 {
    max-width: 40px !important;
}

.w-5 {
    max-width: 50px !important;
}

.w-6 {
    max-width: 60px !important;
}

.w-7 {
    max-width: 70px !important;
}

.w-8 {
    max-width: 80px !important;
}

.w-9 {
    max-width: 90px !important;
}

.w-10 {
    max-width: 100px !important;
}

.w-11 {
    max-width: 110px !important;
}

.w-12 {
    max-width: 120px !important;
}

.w-13 {
    max-width: 130px !important;
}

.w-14 {
    max-width: 140px !important;
}

.w-15 {
    max-width: 150px !important;
}

.w-16 {
    max-width: 160px !important;
}

.w-17 {
    max-width: 170px !important;
}

.w-18 {
    max-width: 180px !important;
}

.w-19 {
    max-width: 190px !important;
}

.w-20 {
    max-width: 200px !important;
}

.w-21 {
    max-width: 210px !important;
}

.w-22 {
    max-width: 220px !important;
}

.w-23 {
    max-width: 230px !important;
}

.w-24 {
    max-width: 240px !important;
}

.w-25 {
    max-width: 250px !important;
}

.w-26 {
    max-width: 260px !important;
}

.w-27 {
    max-width: 270px !important;
}

.w-28 {
    max-width: 280px !important;
}

.w-29 {
    max-width: 290px !important;
}

.w-30 {
    max-width: 300px !important;
}

.w-31 {
    max-width: 310px !important;
}

.w-32 {
    max-width: 320px !important;
}

.w-33 {
    max-width: 330px !important;
}

.w-34 {
    max-width: 340px !important;
}

.w-35 {
    max-width: 350px !important;
}

.w-36 {
    max-width: 360px !important;
}

.w-37 {
    max-width: 370px !important;
}

.w-38 {
    max-width: 380px !important;
}

.w-39 {
    max-width: 390px !important;
}

.w-40 {
    max-width: 400px !important;
}

.w-41 {
    max-width: 410px !important;
}

.w-42 {
    max-width: 420px !important;
}

.w-43 {
    max-width: 430px !important;
}

.w-44 {
    max-width: 440px !important;
}

.w-45 {
    max-width: 450px !important;
}

.w-46 {
    max-width: 460px !important;
}

.w-47 {
    max-width: 470px !important;
}

.w-48 {
    max-width: 480px !important;
}

.w-49 {
    max-width: 490px !important;
}

.w-50 {
    max-width: 500px !important;
}

.minw-0 {
    min-width: 0px !important;
}

.minw-1 {
    min-width: 10px !important;
}

.minw-2 {
    min-width: 20px !important;
}

.minw-3 {
    min-width: 30px !important;
}

.minw-4 {
    min-width: 40px !important;
}

.minw-5 {
    min-width: 50px !important;
}

.minw-6 {
    min-width: 60px !important;
}

.minw-7 {
    min-width: 70px !important;
}

.minw-8 {
    min-width: 80px !important;
}

.minw-9 {
    min-width: 90px !important;
}

.minw-10 {
    min-width: 100px !important;
}

.minw-11 {
    min-width: 110px !important;
}

.minw-12 {
    min-width: 120px !important;
}

.minw-13 {
    min-width: 130px !important;
}

.minw-14 {
    min-width: 140px !important;
}

.minw-15 {
    min-width: 150px !important;
}

.minw-16 {
    min-width: 160px !important;
}

.minw-17 {
    min-width: 170px !important;
}

.minw-18 {
    min-width: 180px !important;
}

.minw-19 {
    min-width: 190px !important;
}

.minw-20 {
    min-width: 200px !important;
}

.minw-21 {
    min-width: 210px !important;
}

.minw-22 {
    min-width: 220px !important;
}

.minw-23 {
    min-width: 230px !important;
}

.minw-24 {
    min-width: 240px !important;
}

.minw-25 {
    min-width: 250px !important;
}

.minw-26 {
    min-width: 260px !important;
}

.minw-27 {
    min-width: 270px !important;
}

.minw-28 {
    min-width: 280px !important;
}

.minw-29 {
    min-width: 290px !important;
}

.minw-30 {
    min-width: 300px !important;
}

.minw-31 {
    min-width: 310px !important;
}

.minw-32 {
    min-width: 320px !important;
}

.minw-33 {
    min-width: 330px !important;
}

.minw-34 {
    min-width: 340px !important;
}

.minw-35 {
    min-width: 350px !important;
}

.minw-36 {
    min-width: 360px !important;
}

.minw-37 {
    min-width: 370px !important;
}

.minw-38 {
    min-width: 380px !important;
}

.minw-39 {
    min-width: 390px !important;
}

.minw-40 {
    min-width: 400px !important;
}

.minw-41 {
    min-width: 410px !important;
}

.minw-42 {
    min-width: 420px !important;
}

.minw-43 {
    min-width: 430px !important;
}

.minw-44 {
    min-width: 440px !important;
}

.minw-45 {
    min-width: 450px !important;
}

.minw-46 {
    min-width: 460px !important;
}

.minw-47 {
    min-width: 470px !important;
}

.minw-48 {
    min-width: 480px !important;
}

.minw-49 {
    min-width: 490px !important;
}

.minw-50 {
    min-width: 500px !important;
}

/*
* 반응형 폰트 크기
*/
.v-text-field__slot {
    font-size: 0.5rem !important;
}
.font-size-8 {
    font-size: 0.5rem !important;
}

.font-size-9 {
    font-size: 0.5625rem !important;
}

.font-size-10 {
    font-size: 0.625rem !important;
}

.font-size-11 {
    font-size: 0.6875rem !important;
}

.font-size-12 { 
    font-size: 0.75rem !important;
}

.font-size-13 {
    font-size: 0.8125rem !important;
}

.font-size-14 {
    font-size: 0.875rem !important;
}

.font-size-15 {
    font-size: 0.9375rem !important;
}

.font-size-16 {
    font-size: 1.0rem !important;
}

.font-size-17 {
    font-size: 1.0625rem !important;
}

.font-size-18 {
    font-size: 1.125rem !important;
}

.font-size-19 {
    font-size: 1.1875rem !important;
}

.font-size-20 {
    font-size: 1.25rem !important;
}

.font-size-21 {
    font-size: 1.3125rem !important;
}

.font-size-22 {
    font-size: 1.375rem !important;
}

.font-size-23 {
    font-size: 1.4375rem !important;
}

.font-size-24 {
    font-size: 1.5rem !important;
}

.font-size-25 {
    font-size: 1.5625rem !important;
}

.font-size-26 {
    font-size: 1.625rem !important;
}

.font-size-27 {
    font-size: 1.6875rem !important;
}

.font-size-28 {
    font-size: 1.75rem !important;
}

.font-size-29 {
    font-size: 1.8125rem !important;
}

.font-size-30 {
    font-size: 1.875rem !important;
}

.font-size-31 {
    font-size: 1.9375rem !important;
}

.font-size-32 {
    font-size: 2.0rem !important;
}

.font-size-33 {
    font-size: 2.0625rem !important;
}

.font-size-34 {
    font-size: 2.125rem !important;
}

.font-size-35 {
    font-size: 2.1875rem !important;
}

.font-size-36 {
    font-size: 2.25rem !important;
}

.font-size-37 {
    font-size: 2.3125rem !important;
}

.font-size-38 {
    font-size: 2.375rem !important;
}

.font-size-39 {
    font-size: 2.4375rem !important;
}

.font-size-40 {
    font-size: 2.5rem !important;
}

.font-size-41 {
    font-size: 2.5625rem !important;
}

.font-size-42 {
    font-size: 2.625rem !important;
}

.font-size-43 {
    font-size: 2.6875rem !important;
}

.font-size-44 {
    font-size: 2.75rem !important;
}

.font-size-45 {
    font-size: 2.8125rem !important;
}

.font-size-46 {
    font-size: 2.875rem !important;
}

.font-size-47 {
    font-size: 2.9375rem !important;
}

.font-size-48 {
    font-size: 3.0rem !important;
}

.font-size-49 {
    font-size: 3.0625rem !important;
}

.font-size-50 {
    font-size: 3.125rem !important;
}

.font-size-51 {
    font-size: 3.1875rem !important;
}

.font-size-52 {
    font-size: 3.25rem !important;
}

.font-size-53 {
    font-size: 3.3125rem !important;
}

.font-size-54 {
    font-size: 3.375rem !important;
}

.font-size-55 {
    font-size: 3.4375rem !important;
}

.font-size-56 {
    font-size: 3.5rem !important;
}

.font-size-57 {
    font-size: 3.5625rem !important;
}

.font-size-58 {
    font-size: 3.625rem !important;
}

.font-size-59 {
    font-size: 3.6875rem !important;
}

.font-size-60 {
    font-size: 3.75rem !important;
}

.font-size-61 {
    font-size: 3.8125rem !important;
}

.font-size-62 {
    font-size: 3.875rem !important;
}

.font-size-63 {
    font-size: 3.9375rem !important;
}

.font-size-64 {
    font-size: 4.0rem !important;
}

@media ( min-width : 414px) {
    .v-text-field__slot {
        font-size: calc(0.5rem + ((( 100vw - 20rem)/(90 -20)))*(0.5*2- 0.5))
            !important;
    }
    .font-size-8 {
        font-size: calc(0.5rem + ((( 100vw - 20rem)/(90 -20)))*(0.5*2- 0.5))
            !important;
    }
    .font-size-9 {
        font-size: calc(0.5625rem + ((( 100vw - 20rem)/(90 -20)))*(0.5625*2- 0.5625))
            !important;
    }
    .font-size-10 {
        font-size: calc(0.625rem + ((( 100vw - 10rem)/(90 -20)))*(0.625*2- 0.625))
            !important;
    }
    .font-size-11 {
        font-size: calc(0.6875rem + ((( 100vw - 20rem)/(90 -20)))*(0.6875*2- 0.6875))
            !important;
    }
    .font-size-12 {
        font-size: calc(0.75rem + ((( 100vw - 20rem)/(90 -20)))*(0.75*2- 0.75))
            !important;
    }
    .font-size-13 {
        font-size: calc(0.8125rem + ((( 100vw - 20rem)/(90 -20)))*(0.8125*2- 0.8125))
            !important;
    }
    .font-size-14 {
        font-size: calc(0.875rem + ((( 100vw - 20rem)/(90 -20)))*(0.875*2- 0.875))
            !important;
    }
    .font-size-15 {
        font-size: calc(0.9375rem + ((( 100vw - 20rem)/(90 -20)))*(0.9375*2- 0.9375))
            !important;
    }
    .font-size-16 {
        font-size: calc(1.0rem + ((( 100vw - 20rem)/(90 -20)))*(1.0*2- 1.0))
            !important;
    }
    .font-size-17 {
        font-size: calc(1.0625rem + ((( 100vw - 20rem)/(90 -20)))*(1.0625*2- 1.0625))
            !important;
    }
    .font-size-18 {
        font-size: calc(1.125rem + ((( 100vw - 20rem)/(90 -20)))*(1.125*2- 1.125))
            !important;
    }
    .font-size-19 {
        font-size: calc(1.1875rem + ((( 100vw - 20rem)/(90 -20)))*(1.1875*2- 1.1875))
            !important;
    }
    .font-size-20 {
        font-size: calc(1.25rem + ((( 100vw - 20rem)/(90 -20)))*(1.25*2- 1.25))
            !important;
    }
    .font-size-21 {
        font-size: calc(1.3125rem + ((( 100vw - 20rem)/(90 -20)))*(1.3125*2- 1.3125))
            !important;
    }
    .font-size-22 {
        font-size: calc(1.375rem + ((( 100vw - 20rem)/(90 -20)))*(1.375*2- 1.375))
            !important;
    }
    .font-size-23 {
        font-size: calc(1.4375rem + ((( 100vw - 20rem)/(90 -20)))*(1.4375*2- 1.4375))
            !important;
    }
    .font-size-24 {
        font-size: calc(1.5rem + ((( 100vw - 20rem)/(90 -20)))*(1.5*2- 1.5))
            !important;
    }
    .font-size-25 {
        font-size: calc(1.5625rem + ((( 100vw - 20rem)/(90 -20)))*(1.5625*2- 1.5625))
            !important;
    }
    .font-size-26 {
        font-size: calc(1.625rem + ((( 100vw - 20rem)/(90 -20)))*(1.625*2- 1.625))
            !important;
    }
    .font-size-27 {
        font-size: calc(1.6875rem + ((( 100vw - 20rem)/(90 -20)))*(1.6875*2- 1.6875))
            !important;
    }
    .font-size-28 {
        font-size: calc(1.75rem + ((( 100vw - 20rem)/(90 -20)))*(1.75*2- 1.75))
            !important;
    }
    .font-size-29 {
        font-size: calc(1.8125rem + ((( 100vw - 20rem)/(90 -20)))*(1.8125*2- 1.8125))
            !important;
    }
    .font-size-30 {
        font-size: calc(1.875rem + ((( 100vw - 20rem)/(90 -20)))*(1.875*2- 1.875))
            !important;
    }
    .font-size-31 {
        font-size: calc(1.9375rem + ((( 100vw - 20rem)/(90 -20)))*(1.9375*2- 1.9375))
            !important;
    }
    .font-size-32 {
        font-size: calc(2.0rem + ((( 100vw - 20rem)/(90 -20)))*(2.0*2- 2.0))
            !important;
    }
    .font-size-33 {
        font-size: calc(2.0625rem + ((( 100vw - 20rem)/(90 -20)))*(2.0625*2- 2.0625))
            !important;
    }
    .font-size-34 {
        font-size: calc(2.125rem + ((( 100vw - 20rem)/(90 -20)))*(2.125*2- 2.125))
            !important;
    }
    .font-size-35 {
        font-size: calc(2.1875rem + ((( 100vw - 20rem)/(90 -20)))*(2.1875*2- 2.1875))
            !important;
    }
    .font-size-36 {
        font-size: calc(2.25rem + ((( 100vw - 20rem)/(90 -20)))*(2.25*2- 2.25))
            !important;
    }
    .font-size-37 {
        font-size: calc(2.3125rem + ((( 100vw - 20rem)/(90 -20)))*(2.3125*2- 2.3125))
            !important;
    }
    .font-size-38 {
        font-size: calc(2.375rem + ((( 100vw - 20rem)/(90 -20)))*(2.375*2- 2.375))
            !important;
    }
    .font-size-39 {
        font-size: calc(2.4375rem + ((( 100vw - 20rem)/(90 -20)))*(2.4375*2- 2.4375))
            !important;
    }
    .font-size-40 {
        font-size: calc(2.5rem + ((( 100vw - 20rem)/(90 -20)))*(2.5*2- 2.5))
            !important;
    }
    .font-size-41 {
        font-size: calc(2.5625rem + ((( 100vw - 20rem)/(90 -20)))*(2.5625*2- 2.5625))
            !important;
    }
    .font-size-42 {
        font-size: calc(2.625rem + ((( 100vw - 20rem)/(90 -20)))*(2.625*2- 2.625))
            !important;
    }
    .font-size-43 {
        font-size: calc(2.6875rem + ((( 100vw - 20rem)/(90 -20)))*(2.6875*2- 2.6875))
            !important;
    }
    .font-size-44 {
        font-size: calc(2.75rem + ((( 100vw - 20rem)/(90 -20)))*(2.75*2- 2.75))
            !important;
    }
    .font-size-45 {
        font-size: calc(2.8125rem + ((( 100vw - 20rem)/(90 -20)))*(2.8125*2- 2.8125))
            !important;
    }
    .font-size-46 {
        font-size: calc(2.875rem + ((( 100vw - 20rem)/(90 -20)))*(2.875*2- 2.875))
            !important;
    }
    .font-size-47 {
        font-size: calc(2.9375rem + ((( 100vw - 20rem)/(90 -20)))*(2.9375*2- 2.9375))
            !important;
    }
    .font-size-48 {
        font-size: calc(3.0rem + ((( 100vw - 20rem)/(90 -20)))*(3.0*2- 3.0))
            !important;
    }
    .font-size-49 {
        font-size: calc(3.0625rem + ((( 100vw - 20rem)/(90 -20)))*(3.0625*2- 3.0625))
            !important;
    }
    .font-size-50 {
        font-size: calc(3.125rem + ((( 100vw - 20rem)/(90 -20)))*(3.125*2- 3.125))
            !important;
    }
    .font-size-51 {
        font-size: calc(3.1875rem + ((( 100vw - 20rem)/(90 -20)))*(3.1875*2- 3.1875))
            !important;
    }
    .font-size-52 {
        font-size: calc(3.25rem + ((( 100vw - 20rem)/(90 -20)))*(3.25*2- 3.25))
            !important;
    }
    .font-size-53 {
        font-size: calc(3.3125rem + ((( 100vw - 20rem)/(90 -20)))*(3.3125*2- 3.3125))
            !important;
    }
    .font-size-54 {
        font-size: calc(3.375rem + ((( 100vw - 20rem)/(90 -20)))*(3.375*2- 3.375))
            !important;
    }
    .font-size-55 {
        font-size: calc(3.4375rem + ((( 100vw - 20rem)/(90 -20)))*(3.4375*2- 3.4375))
            !important;
    }
    .font-size-56 {
        font-size: calc(3.5rem + ((( 100vw - 20rem)/(90 -20)))*(3.5*2- 3.5))
            !important;
    }
    .font-size-57 {
        font-size: calc(3.5625rem + ((( 100vw - 20rem)/(90 -20)))*(3.5625*2- 3.5625))
            !important;
    }
    .font-size-58 {
        font-size: calc(3.625rem + ((( 100vw - 20rem)/(90 -20)))*(3.625*2- 3.625))
            !important;
    }
    .font-size-59 {
        font-size: calc(3.6875rem + ((( 100vw - 20rem)/(90 -20)))*(3.6875*2- 3.6875))
            !important;
    }
    .font-size-60 {
        font-size: calc(3.75rem + ((( 100vw - 20rem)/(90 -20)))*(3.75*2- 3.75))
            !important;
    }
    .font-size-61 {
        font-size: calc(3.8125rem + ((( 100vw - 20rem)/(90 -20)))*(3.8125*2- 3.8125))
            !important;
    }
    .font-size-62 {
        font-size: calc(3.875rem + ((( 100vw - 20rem)/(90 -20)))*(3.875*2- 3.875))
            !important;
    }
    .font-size-63 {
        font-size: calc(3.9375rem + ((( 100vw - 20rem)/(90 -20)))*(3.9375*2- 3.9375))
            !important;
    }
    .font-size-64 {
        font-size: calc(4.0rem + ((( 100vw - 20rem)/(90 -20)))*(4.0*2- 4.0))
            !important;
    }
}

@media ( min-width : 1440px) {
    .v-text-field__slot {
        font-size: 1.0rem !important;
    }
    .font-size-8 {
        font-size: 1.0rem !important;
    }
    .font-size-9 {
        font-size: 1.125rem !important;
    }
    .font-size-10 {
        font-size: 1.25rem !important;
    }
    .font-size-11 {
        font-size: 1.375rem !important;
    }
    .font-size-12 {
        font-size: 1.5rem !important;
    }
    .font-size-13 {
        font-size: 1.625rem !important;
    }
    .font-size-14 {
        font-size: 1.75rem !important;
    }
    .font-size-15 {
        font-size: 1.875rem !important;
    }
    .font-size-16 {
        font-size: 2.0rem !important;
    }
    .font-size-17 {
        font-size: 2.125rem !important;
    }
    .font-size-18 {
        font-size: 2.25rem !important;
    }
    .font-size-19 {
        font-size: 2.375rem !important;
    }
    .font-size-20 {
        font-size: 2.5rem !important;
    }
    .font-size-21 {
        font-size: 2.625rem !important;
    }
    .font-size-22 {
        font-size: 2.75rem !important;
    }
    .font-size-23 {
        font-size: 2.875rem !important;
    }
    .font-size-24 {
        font-size: 3.0rem !important;
    }
    .font-size-25 {
        font-size: 3.125rem !important;
    }
    .font-size-26 {
        font-size: 3.25rem !important;
    }
    .font-size-27 {
        font-size: 3.375rem !important;
    }
    .font-size-28 {
        font-size: 3.5rem !important;
    }
    .font-size-29 {
        font-size: 3.625rem !important;
    }
    .font-size-30 {
        font-size: 3.75rem !important;
    }
    .font-size-31 {
        font-size: 3.875rem !important;
    }
    .font-size-32 {
        font-size: 4.0rem !important;
    }
    .font-size-33 {
        font-size: 4.125rem !important;
    }
    .font-size-34 {
        font-size: 4.25rem !important;
    }
    .font-size-35 {
        font-size: 4.375rem !important;
    }
    .font-size-36 {
        font-size: 4.5rem !important;
    }
    .font-size-37 {
        font-size: 4.625rem !important;
    }
    .font-size-38 {
        font-size: 4.75rem !important;
    }
    .font-size-39 {
        font-size: 4.875rem !important;
    }
    .font-size-40 {
        font-size: 5.0rem !important;
    }
    .font-size-41 {
        font-size: 5.125rem !important;
    }
    .font-size-42 {
        font-size: 5.25rem !important;
    }
    .font-size-43 {
        font-size: 5.375rem !important;
    }
    .font-size-44 {
        font-size: 5.5rem !important;
    }
    .font-size-45 {
        font-size: 5.625rem !important;
    }
    .font-size-46 {
        font-size: 5.75rem !important;
    }
    .font-size-47 {
        font-size: 5.875rem !important;
    }
    .font-size-48 {
        font-size: 6.0rem !important;
    }
    .font-size-49 {
        font-size: 6.125rem !important;
    }
    .font-size-50 {
        font-size: 6.25rem !important;
    }
    .font-size-51 {
        font-size: 6.375rem !important;
    }
    .font-size-52 {
        font-size: 6.5rem !important;
    }
    .font-size-53 {
        font-size: 6.625rem !important;
    }
    .font-size-54 {
        font-size: 6.75rem !important;
    }
    .font-size-55 {
        font-size: 6.875rem !important;
    }
    .font-size-56 {
        font-size: 7.0rem !important;
    }
    .font-size-57 {
        font-size: 7.125rem !important;
    }
    .font-size-58 {
        font-size: 7.25rem !important;
    }
    .font-size-59 {
        font-size: 7.375rem !important;
    }
    .font-size-60 {
        font-size: 7.5rem !important;
    }
    .font-size-61 {
        font-size: 7.625rem !important;
    }
    .font-size-62 {
        font-size: 7.75rem !important;
    }
    .font-size-63 {
        font-size: 7.875rem !important;
    }
    .font-size-64 {
        font-size: 8.0rem !important;
    }
}
